<h1>User Account details</h1>

<% if @user.image.attached? %>
  <%= image_tag(@user.image) %>
<% end%>

<ul>
  <li>
    <%= @user.fname %>
  </li>
  <li>
    <%= @user.lname %>
  </li>
   <li>
    <%= @user.email %>
  </li>
</ul>

<%= link_to 'Edit Profile', "/users/#{session[:user_id]}/edit", class: 'btn btn-primary' %>
<%= link_to 'Delete Account', '/', method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: 'btn btn-danger'%>
