
<div class='row'>
  <% (0...@post.images.count).each do |number| %>
    <div class='column'>
      <%= image_tag(@post.images[number], class: 'rounded') %> <br>
      <%= link_to 'Delete picture' %>
    </div>
  <% end %>
</div>

<div class="form-row align-items-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @post do |post| %>
      <div>
        <%= post.label :message %>
        <%= post.text_field :message, class: 'form-control'%>
        <%= post.file_field :images, multiple: true %><br>
        <%= post.submit "Submit", class: "btn btn-sm btn-primary my-2" %>
      </div>
    <% end %>
  </div>
</div>
